<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <!--<link rel="stylesheet" href="css/bootstrap3.0.0.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.css">-->
    <link rel="stylesheet" href="css/Index.css">
  </head>
  <body ng-app="app" ng-controller="index">
    <div class="headerlink">
      <ul>
        <li ><a ng-href="/main">主页</a></li>
        <li ><a ng-href="/login">登入</a></li>
        <li ><a ng-href="/signup">注册</a></li>
        <li ><a ng-href="/chat">聊天室</a></li>
      </ul>
    </div>
    <h1>沉思语录</h1>
    <h2>想对世界说真话 证明我们的存在</h2>
    <my-foot></my-foot>
    <!--<h2 >New to this web, click <a href="/signup"><span>me</span></a> to register</h2>-->
    <!--<h5 class="beright" ng-model="loginstate">{{loginstate}}<h5>-->
    <!--<div class="wrapper"><p>wrapper</p></div>-->
    <!--<script src="javascripts/angularjs/angular.js"></script>-->
    <script src="javascripts/angularjs/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
    <script src="javascripts/controller/app.js"></script>
    <script src="javascripts/controller/app_component.js"></script>
  </body>
  <footer>
    <!--<div class="beright">
      <a ng-href="/signup">Signup</a>
      <a ng-href="/upload">Upload</a>
    </div>-->
  </footer>
</html>