<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="css/bootstrap3.0.0.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <!--<body ng-app="app" ng-init="name={id:1,name:'leslie'}">-->
  <!-- ng-init not used frequently-->
  <body ng-app="first">
    <div id="navbar">
        <nav>
            <a href="index.asp">Home</a>
            <a href="html5_meter.asp">Previous</a>
            <a href="html5_noscript.asp">Next</a>
        </nav>
    </div>
    <div id="welocome"><p>WElCOME</p></div>
    <div id="login" ng-controller="login">
 	    <form ng-submit="send(username,password);" role="form">
 	      <input type="text" name="username" ng-model="username" placeholder="用户名" required/><br>
 	      <input type="password" name="password" ng-model="password" placeholder="密码" required/><br>
 	      <input type="submit" value="Login" >
 	      <a href="/sign_up">注册</a>
 	    </form>
 	    <p ng-model="copy_username">{{copy_username}}</p>
      <p ng-model="loginstate">{{loginstate}}<p>
    </div>
    <div id="wrapper"><p>wrapper</p></div>
    <script src="javascripts/angularjs/angular.js"></script>
    <script src="javascripts/controller/app.js"></script>
    <script src="javascripts/controller/logandreg.js"></script>
  </body>
</html>