<!doctype html>
<html ng-app="chatapp">
  <head>
    <title>Online Chat Room</title>
    
   <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/chat.css">

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="javascripts/angularjs/angular.js"></script>
    <script src="javascripts/angularjs/angular-animate.js"></script>
    <script src="javascripts/angularjs/angular-touch.js"></script>
    <script src="javascripts/angularjs/angular-sanitize.js"></script>
    <script src="javascripts/angularjs/ui-bootstrap-tpls-2.3.1.js"></script>
    <script src="javascripts/controller/chat.js"></script>
    <script src="http://code.angularjs.org/1.5.8/angular-cookies.min.js"></script>
  </head>
  <body ng-controller="chat">

  <!--load in the cache used to in the directive or other components' templateUrl-->
    <script type="text/ng-template" id="sendpic.html">
      <p>Choose picture</p>
      <form action="/uploadimage" method="post" enctype="multipart/form-data" ngmodel="dest">
        <input type="file" name="file1" /> <br>
        <input type="submit" value="Send" />
      </form>
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-primary" type="button" ng-click="dismiss()">Close</button>
    </script>


    <div class="headerlink">
      <ul>
        <li ><a ng-href="/main">主页</a></li>
        <li ><a ng-href="/login">登入</a></li>
        <li ><a ng-href="/signup">注册</a></li>
      </ul>
      <h3 ng-model="chat_number" class="user_count">当前在线人数:{{chat_number}}</h3>
    </div>

    <div class="hint">
      <h1 ng-model="Hint">{{Hint}}</h1>
    </div>
    <ul id="messages"></ul>
    <!--<form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>-->
    
    <div id="send">
      <form ng-submit="send(TextInput);">
        <label id="user_name_id" ng-model="chat_user">{{chat_user}}:</label><input ng-model="TextInput" /><button>发送</button>
      </form>
      <button ng-click="send_pic()">图片</button>
    </div>
    <!--all move into the controller.js
    <script>
      var socket = io();
      /*$('form').submit(function(){
        socket.emit('message',{'message':'hello'});
      });*/
      /*
      //use angularjs insteadof jquery
      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        //clear the input in the box
        $('#m').val('');
        return false;
      });*/
      //listen to the event from the server
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text('y:'+msg));
      });
    </script>-->
  </body>
</html>
