html,body {
  height: 100%;
}

a {
  color: #00B7FF;
}

#wrapper {
min-height: 70%;
height: auto !important;
height: 100%;
margin: 0 auto 0px;
color: blue;
}

#login{
text-align:center;	
color: black;	
}

#welocome{
text-align:center;	
color: black;
font-size:20px;	
}
